#about {
  display: -ms-flex; display: -webkit-flex; display: flex;
  width: 100%;
  height: 100%;
  color: black;
  vertical-align: middle;
  margin-left: 15px;
}

#imageContainer {
  flex: 1;
  height: 100%;
  width: 50%;
}

#headshot {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  min-width: 100px;
  max-height: 100%;
  vertical-align: middle;
}

#textContainer {
  position: relative;
  vertical-align: middle;
  overflow-y: scroll;
  font-size: 14px;
  width: 100%;
  max-width: 300px;
  max-height: 100%;
  margin-left: 15px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
