html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Century Gothic";
  overflow: hidden;
}

.verticalHelper {
  display: inline-block;
  position: absolute;
  height: 100%;
  vertical-align: middle;
  /* margin: 0; */
}

/* ------------------------
      Center Objects
------------------------ */

#centerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70vw;
  height: 35vw;
  max-width: 60em;
  max-height: 30em;
  min-width: 20em;
  min-height: 10em;
  margin: auto;
  /* border: 1px solid white; */
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: 100%;
}

/* --- Navigation --- */

#navigation {
  background-color: transparent;
  height: 100%;
}

#navList {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  min-width: 120px;
  color: white;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.navItem {
  text-align: right;
  display: table-row;
  /* border-right: 1px solid #555; */
}

.navItem:hover {
  background-color: #999;
}

.navActive {
  background-color: #555;
}

.navText {
  display: table-cell;
  padding-right: 15px;
  vertical-align: middle;
  color: #555;
  border-right: 1px solid #555;
}

.textActive, .navText:hover {
  color: #FFF;
}

/* --- Content --- */

#contentGrid {
  background-color: transparent;
}
